# Rust build artifacts
target/
Cargo.lock
**/*.rs.bk

# macOS hidden files
.DS_Store
**/.DS_Store
._*

# Editor temporary files
.vscode/
.idea/
*.swp
*.swo

# Build export directories
dist/
out/

# Node / NPM
node_modules/
# package-lock.json
npm-debug.log*
.next/
out/

# Build export
dist/
